#section-quotes {
    height: 56.25vw;
    /* border: yellow 2px solid; */
    z-index: 10;
}

#section-quotes #luci {
    position: relative;
    width: 62.5%;
    height: 80%;
    left: 18.75%;
    z-index: 1;
    top: 10%
}

#section-quotes #quotes-left-black-top {
    position: absolute;
    width: 75%;
    height: 25%;
    left: 1.85%;
    top: 30%;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    line-height: 84px;
    letter-spacing: 0.15em;

    color: #000000;
    z-index: 4;
}


#section-quotes #quotes-right-big-grey {
    position: absolute;
    height: 20%;
    left: 56%;
    top: 35%;

    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
    line-height: 169px;

    color: #B3B3B3;
    z-index: 5;

}


#section-quotes #quotes-left-grey {
    position: absolute;
    width: 70%;
    height: 20%;
    left: 15%;
    top: 92%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #4F4F4F;

    transform: rotate(-90deg);
    transform-origin: top left;
    z-index: 2;
}

#section-quotes #quotes-right-black {
    position: absolute;
    width: 38%;
    top: 60%;
    left: 90%;

    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 30px;
    color: #000000;
    transform: rotate(-180deg);
    transform-origin: top left;
    z-index: 3;
}




#section-quotes #quotes-right-middle-grey {
    position: absolute;
    width: 37%;
    height: 57%;
    left: 55%;
    top: 95%;

    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    /* or 94% */


    color: #B3B3B3;
    transform-origin: top left;
    z-index: 6;
}

#section-quotes #quotes-left-big-white {
    position: absolute;
    width: 35%;
    height: 48%;
    left: 4.6%;
    top: 70%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;


    color: #FFFFFF;
    transform-origin: top left;
    z-index: 7;
}