/* section 1 David Carson */
#section-david {
    position: relative;
    height: 56.25vw;
    background: linear-gradient(180deg,
            #FFFFFF 9.91%, rgba(191, 191, 191, 0.69463) 79.2%,
            rgba(153, 153, 153, 0.512206) 90.58%, #2D2D2D 100%);
    /* border: rgb(255, 238, 0) solid 5px; */
    overflow: hidden;
}


#section-david #big-portrait {
    position: absolute;
    width: 83%;
    top: 0%;
    left: 8.5%;
    height: 56.25vw;
}

#section-david img {
    width: 100%;
}

#section-david #typo-david {
    position: absolute;
    width: 741px;
    height: 209px;
    left: 10%;
    top: 22%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    font-size: 12em;
    line-height: 230px;



    color: #FFFFFF;
    z-index: 2;
}

#section-david #typo-carson {
    /* Carson */


    position: absolute;
    left: 63%;
    top: 67%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 8em;
    line-height: 2em;


    color: #FFFFFF;
    z-index: 4;
}

#section-david #typo-surfer {
    /* and surfer. */


    position: absolute;
    width: 27%;
    left: 75%;
    top: 85.5%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.8em;
    letter-spacing: 0.35em;
    color: #FFFFFF;
    z-index: 3;
}

#section-david #typo-graphic-designer {
    /* a graphic designer, */
    position: absolute;
    width: 54%;
    top: 70%;
    left: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2em;
    line-height: 2em;
    color: #000000;
    z-index: 5;
}

#section-david #typo-art-director {
    /* art director */


    position: absolute;
    width: 90%;
    top: 88%;
    left: 6%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 3.2em;
    line-height: 1em;

    letter-spacing: 0.8em;


    color: #FFFFFF;

    mix-blend-mode: normal;
    z-index: 9;
}


#section-david #typo-left1 {
    position: absolute;
    width: 52%;
    left: 5%;
    top: 90%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 1em;

    color: #4F4F4F;

    transform: rotate(-90deg);
    transform-origin: top left;
    z-index: 7;
}


#section-david #typo-left2 {
    position: absolute;
    width: 38%;
    left: 43%;
    top: 90%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 1em;

    color: #B3B3B3;

    transform: rotate(-180deg);
    transform-origin: top left;
    z-index: 1;
}


#section-david #typo-right1 {
    position: absolute;
    width: 31%;
    left: 98%;
    top: 60%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em;

    color: #FFFFFF;

    transform: rotate(-180deg);
    transform-origin: top left;
    z-index: 6;
}

#section-david #typo-right2 {
    position: absolute;
    width: 40%;
    left: 90%;
    top: 98%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em;

    color: #000000;

    transform: rotate(-90deg);
    transform-origin: top left;
    z-index: 8;
}