#section-visit {
    background-color: #2D2D2D;
}

#section-visit .headlines {
    color: white;
    padding-top: 29px;
    padding-left: 6%;
    padding-bottom: 2em;
}

#section-visit .columns {
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2rem;
    padding-left: 19%;
    padding-right: 19%;
    padding-bottom: 3em;
}

#section-visit .lower-footer {
    padding-bottom: 3.5em;
    background: linear-gradient(180deg, #EDEDED 25.48%,
            rgba(255, 255, 255, 0) 100%);
}

#section-visit .logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

#section-visit .logos img,
#section-visit .logos h3 {
    height: 35px;
    padding-right: 6%;
}

#section-visit .contacts {
    background: linear-gradient(180deg, #EDEDED 25.48%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
}

#section-visit .contacts .col1 {
    width: 35%;
}

#section-visit .contacts .col1 input.youremail {
    color: grey;
    background-color: white;
}

#section-visit .contacts .col1 input.subscribe {
    background-color: black;
    font-weight: 700;
    color: white;
}

#section-visit .contacts .col2 {
    width: 15%;
    padding-top: 15px;
    line-height: 1.5em;
}

#section-visit .contacts .col2 img {
    width: 1.2em;
    vertical-align: text-bottom;
}

#section-visit .contacts .col3 {
    width: 30%;
}