#section-quotes {
    height: 56.25vw;
    /* border: yellow 2px solid; */
    background-color: #2D2D2D;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

#section-quotes #luci {
    position: relative;
    width: 62.5%;
    height: 80%;
    left: 18.75%;
    z-index: 1;
    top: 10%
}

#section-quotes #quotes-left-black-top,
#section-quotes #quotes-left-grey,
#section-quotes #quotes-right-big-grey,
#section-quotes #quotes-right-black,
#section-quotes #quotes-right-middle-grey,
#section-quotes #quotes-left-big-white {
    position: absolute;
    font-family: Roboto;
    /* border: 2px solid blue; */
}

#section-quotes #quotes-left-black-top {
    width: 75%;
    left: 1.85%;
    top: 14%;

    color: #000000;
    font-style: italic;
    font-weight: bold;
    font-size: 3.2em;
    line-height: 1em;
    letter-spacing: 0.15em;

    z-index: 4;
}

#section-quotes #quotes-left-grey {
    overflow: hidden;
    width: 53%;
    height: 7.2em;
    left: 15%;
    top: 95%;

    transform: rotate(-90deg);
    transform-origin: top left;

    color: #4F4F4F;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.2em;

    z-index: 2;
}

#section-quotes #quotes-right-big-grey {
    height: 20%;
    left: 56%;
    top: 35%;

    color: #B3B3B3;
    font-style: italic;
    font-weight: bold;
    font-size: 5em;
    line-height: 0.8em;

    z-index: 5;
}

#section-quotes #quotes-right-black {
    height: 3em;
    width: 38%;
    left: 92%;
    top: 49%;


    transform: rotate(-180deg);
    transform-origin: top left;

    color: #000000;
    font-style: italic;
    font-weight: 700;
    font-size: 3em;
    line-height: 0.5em;

    z-index: 3;
}




#section-quotes #quotes-right-middle-grey {
    width: 32%;
    height: 57%;
    left: 57%;
    top: 78%;

    transform-origin: top left;

    color: #B3B3B3;
    font-style: italic;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 1.2em;

    z-index: 6;
}

#section-quotes #quotes-left-big-white {
    width: 28%;
    height: 48%;
    left: 7%;
    top: 65%;

    transform-origin: top left;

    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1.5em;

    z-index: 7;
}